services:
  server:
    image: instay_v1_local-sv:latest
    container_name: instay_server
    build:
      context: ./backend
      dockerfile: Dockerfile
    init: true
    restart: unless-stopped
    env_file:
      - ./backend/.env.local
    ports:
      - "8080:8080"
    volumes:
      - ./backend/logs:/app/logs
    networks:
      - frontend
      - backend
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      minio:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- --tries=1 ${BE_HEALTHCHECK_URL} || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s

  postgres:
    image: postgres:15.1-alpine
    container_name: instay_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${PG_DB_NAME:-db123}
      POSTGRES_PASSWORD: ${PG_PASSWORD:-12345678}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    ports:
      - "5431:5432"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${PG_USER:-user123} -d ${PG_DB_NAME:-db123}",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.2-alpine
    container_name: instay_redis
    restart: unless-stopped
    command: redis-server --appendonly yes --requirepass ${RD_PASSWORD:-12345678}
    networks:
      - backend
    ports:
      - "6378:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: instay_rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: ${RMQ_USER:-user123}
      RABBITMQ_DEFAULT_PASS: ${RMQ_PASSWORD:-12345678}
      RABBITMQ_DEFAULT_VHOST: /
    ports:
      - "5671:5672"
      - "15671:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - rabbitmq_logs:/var/log/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - backend

  minio:
    image: minio/minio:latest
    container_name: instay_minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MIN_ROOT_USER:-admin123}
      MINIO_ROOT_PASSWORD: ${MIN_ROOT_PASSWORD:-12345678}
    volumes:
      - minio_data:/data
    ports:
      - "7000:9000"
      - "7001:9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - backend

  minio-init:
    image: minio/mc:latest
    container_name: instay_minio_init
    depends_on:
      minio:
        condition: service_healthy
    environment:
      MINIO_ROOT_USER: ${MIN_ROOT_USER:-admin123}
      MINIO_ROOT_PASSWORD: ${MIN_ROOT_PASSWORD:-12345678}
      APP_USER: ${MIN_USER:-user123}
      APP_PASSWORD: ${MIN_PASSWORD:-12345678}
      APP_ACCESS_KEY: ${MIN_ACCESS_KEY_ID:-APPUSER_ACCESS_KEY}
      APP_SECRET_KEY: ${MIN_SECRET_ACCESS_KEY:-APPUSER_SECRET_KEY_123456}
      BUCKET: ${MIN_BUCKET:-uploads}
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      mc alias set myminio http://minio:9000 $$MINIO_ROOT_USER $$MINIO_ROOT_PASSWORD;
      mc mb myminio/$$BUCKET --ignore-existing;
      mc admin user add myminio $$APP_USER $$APP_PASSWORD || true;
      mc admin policy attach myminio consoleAdmin --user $$APP_USER;
      mc admin user svcacct add myminio $$APP_USER --access-key $$APP_ACCESS_KEY --secret-key $$APP_SECRET_KEY || true;
      echo 'Setup complete!';
      exit 0;
      "
    networks:
      - backend

  client:
    image: instay_v1_local-cl:latest
    container_name: instay_client
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    restart: unless-stopped
    init: true
    env_file:
      - ./frontend/.env.local
    ports:
      - "3000:3000"
    depends_on:
      server:
        condition: service_healthy
    networks:
      - frontend

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
  rabbitmq_data:
    driver: local
  rabbitmq_logs:
    driver: local
  minio_data:
    driver: local

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge