services:
  server:
    image: tienhai2808/instay_v1-server:latest
    init: true
    restart: unless-stopped
    env_file:
      - ./backend/.env.prod
    expose:
      - "8080"
    volumes:
      - ./backend/logs:/app/logs
    networks:
      - frontend
      - backend
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      minio:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- --tries=1 ${SV_HEALTHCHECK_URL} || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s

  postgres:
    image: postgres:15.1-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${PG_DB_NAME}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    expose:
      - "5432"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${PG_USER} -d ${PG_DB_NAME}",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.2-alpine
    container_name: redis
    restart: unless-stopped
    command: redis-server --appendonly yes --requirepass ${RD_PASSWORD}
    networks:
      - backend
    expose:
      - "6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: ${RMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RMQ_PASSWORD}
      RABBITMQ_DEFAULT_VHOST: /
    expose:
      - "5672"
      - "15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - rabbitmq_logs:/var/log/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - backend

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MIN_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MIN_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    expose:
      - "9000"
      - "9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - backend

  minio-init:
    image: minio/mc:latest
    container_name: minio_init
    depends_on:
      minio:
        condition: service_healthy
    environment:
      MINIO_ROOT_USER: ${MIN_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MIN_ROOT_PASSWORD}
      APP_USER: ${MIN_USER}
      APP_PASSWORD: ${MIN_PASSWORD}
      APP_ACCESS_KEY: ${MIN_ACCESS_KEY_ID}
      APP_SECRET_KEY: ${MIN_SECRET_ACCESS_KEY}
      BUCKET: ${MIN_BUCKET}
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      mc alias set myminio http://minio:9000 $$MINIO_ROOT_USER $$MINIO_ROOT_PASSWORD;
      mc mb myminio/$$BUCKET --ignore-existing;
      mc admin user add myminio $$APP_USER $$APP_PASSWORD || true;
      mc admin policy attach myminio consoleAdmin --user $$APP_USER;
      mc admin user svcacct add myminio $$APP_USER --access-key $$APP_ACCESS_KEY --secret-key $$APP_SECRET_KEY || true;
      echo 'Setup complete!';
      exit 0;
      "
    networks:
      - backend

  client:
    image: tienhai2808/instay_v1-client:latest
    init: true
    restart: unless-stopped
    env_file:
      - ./frontend/.env.prod
    expose:
      - "3000"
    depends_on:
      server:
        condition: service_healthy
    networks:
      - frontend
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- --tries=1 ${CL_HEALTHCHECK_URL} || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 15s

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    depends_on:
      client:
        condition: service_healthy
      server:
        condition: service_healthy
    networks:
      - frontend
      - backend

  certbot:
    image: certbot/certbot
    container_name: icertbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
  rabbitmq_data:
    driver: local
  rabbitmq_logs:
    driver: local
  minio_data:
    driver: local

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge